Personal Profile
<ul>
  <li><%= @user.first_name %></li>
  <li><%= @user.email %></li>
</ul>

<% if !current_user.volunteer? %>
  <h3>My Organizations</h3>
  <ul>
    <% @organizations.each do |organization| %>
      <li><%= link_to organization.name, organization_path(organization) %></li>
    <% end %>
  </ul>
<% else %>
  <h3>My Opportunities</h3>
  <ul>
    <% @opportunities.each do |opportunity| %>
    <li><%= link_to opportunity.description, opportunity_path(opportunity) %></li>
    <% end %>
  </ul>
<% end %>
