<div class="reveal" id="disclaimerModal" data-reveal>
  <p>Disclaimer: This site is a demo only, intended to show the web development skills I gained at Launch Academy. Volunteer activity dates are inaccurate.</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
