<div class="reveal" id="disclaimerModal" data-reveal>
  <p>Disclaimer: Demo only. Volunteer activity dates inaccurate.</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
