<h1> HyperLocal </h1>

  <div class="row">
    <div class="small-6 large-centered columns about"><h2>Welcome to HyperLocal</h2>
      <p>
        We are a group of rag-tag computer programmers who needed a BADASS project to take over the world. Join us in our journey to success.
      </p>
    </div>
  </div>
