@import "foundation_and_overrides";
@import "profile";
@import "organizations";
@import "opportunities";
@import "nav";
@import "home";
@import "form";
@import "disclaimer";
@import "animate";

.alert-box {
  text-align: center;
  margin: auto;
  width: 50%;
  height: 7%;
}
