#disclaimerModal {
  background-color: $accent-color;
  width: 60%;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  padding-top: 10px;
  box-shadow: 10px 10px 10px 0px rgb(32, 64, 96);

  .close-button {
    padding: 5px;
  }
}
