@import "foundation_and_overrides";
$black: #000;
$white: #ffffff;
$background: #496d7b;

.page-background {
  background-color: $background;
  margin-top: 1.5rem;
}

.form {
  border: 2px solid $white;
  color: $white;
  margin: auto;
  margin-top: 7px;
  padding: 15px 30px 0;
  text-align: center;

  h2 {
    color: $white;
  }
}

.field {
  color: $white;
  width: 100%;
  text-align: center;
}

.action {
  text-align: center;
}

.back-links a {
  color: $white;
}
