@import "foundation_and_overrides";
$black: #000;
$white: #ffffff;
$background: #496d7b;

.page-background {
  background-color: $background;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-position: center center fixed;
}

.form {
  border: 2px solid #FF851B;
  color: $white;
  text-align: center;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 15px 30px 0;
  h2 {
    color: $white;
  }
}

.field {
  color: $white;
  text-align: center;
  width: 100%;
}

.action {
  text-align: center;
}

.submit {
  background-color: #FF851B;
  color: white;
  &:hover {
    background-color: #FF851B;
    color: white;
  }
}

.delete {
  background-color: #FF851B;
  color: white;
}

.back-links {
  color: $white;
  text-align: center;
  margin-bottom: 10%;
}
