@import "foundation_and_overrides";
$black: #000;
$white: #ffffff;
$background: #496d7b;
$accent-color: #ff851b;

.page-background {
  background-color: $background;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-position: center center fixed;
}

.form {
  border: 2px solid $accent-color;
  color: $white;
  text-align: center;
  margin: 10px;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 15px 30px 0;
  h2 {
    color: $white;
  }
  &:hover {
    box-shadow: 10px 10px 10px 0px rgb(32, 64, 96);
  }
  @media #{$small-only} {
    border: none;
    &:hover {
      box-shadow: none;
    }
  }
}

.field {
  color: $white;
  text-align: center;
  width: 100%;
}

.action {
  text-align: center;
}

.submit {
  background-color: $accent-color;
  color: white;
  &:hover {
    background-color: $accent-color;
    color: white;
    box-shadow: 10px 10px 10px 0px rgb(32, 64, 96);
  }
}

.delete {
  background-color: $accent-color;
  color: white;
  &:hover {
    box-shadow: 10px 10px 10px 0px rgb(32, 64, 96);
  }
}

.back-links {
  color: $white;
  text-align: center;
  margin-bottom: 10%;
}
