@import "foundation_and_overrides";
$black: #000;
$white: #ffffff;
$accent-color: #ff851b;

.homepage {
  background-image: image-url("light-person-woman-fire.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.results {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.search {
  background-color: $accent-color;
  color: white;
  &:hover {
    background-color: $accent-color;
    color: white;
  }
}

.footer {
  background: transparent;
  bottom: 0;
  font-size: 1.2rem;
  padding: 0.5rem;
  position: fixed;
  text-align: center;
  width: 100%;

  .links a {
    border: 2px solid $accent-color;
    color: $white;
    font-weight: bold;
    margin: 0;
    padding: 0.5rem;
  }
}

.homepagediv {
  margin-top: 12%;

  p {
    font-size: 3rem;
    text-align: center;
    text-shadow: 6px 4px 5px $black,
      -1px -1px 0 $black,
       1px -1px 0 $black,
      -1px 1px 0 $black,
       1px 1px 0 $black;
  }

}
