@import "foundation_and_overrides";
$accent-color: #FF851B;

.top-bar ul li {
  font-weight: bold;
}

.top-bar-section ul li {
  background: transparent;
  border: 2px solid $accent-color;
  font-weight: bold;
  margin: 0.5rem 2rem;
}

.nav-img {
  height: $topbar-height;
}

.top-bar-section ul li a {
  background: $accent-color !important;
  font-weight: bold;
  &:hover {
    background-color: $accent-color !important;
  }
}
