// @import "foundation_and_overrides";

.vol-panel, .opportunity-info {
  border: 5px solid #FF851B;
  color: white;
  background-color: #496d7b;
  margin: 2%;
  padding: 2%;
  text-align: center;
  &:hover {
    box-shadow: 10px 10px 10px 0px rgb(32, 64, 96);
  }
}

.opp-div {
  border: 1px solid #FF851B;
  margin: 2%;
  &:hover {
    box-shadow: 10px 10px 10px 0px rgb(32, 64, 96);
  }
}

header {
  margin: 5%;
}

h1, h2 {
  color: white;
  text-align: center;
}

.join-button {
  background-color: #FF851B;
  color: white;
  &:hover {
    background-color: #FF851B;
    color: white;
    box-shadow: 10px 10px 10px 0px rgb(32, 64, 96);
  }
}

.at-capacity {
  background-color: #FF851B;
  color: white;
  text-align: center;
  margin-bottom: 5%;
  &:hover {
    background-color: #FF851B;
    color: white;
  }
}

#org-name {
  a {
    color: white;
  }
  a:hover {
    color: #FF851B;
  }
}

.index-info {
  color: white;
  a {
    color: #FF851B;
    border: 1px solid #FF851B;
    padding: 2px;
  }
  a:hover {
    color: white;
  }
}

.map-frame {
  margin: 2%;
}

.vol-img {
  height: 194px;
  width: 208px;
}

.label {
  display: block;
  text-align: center;
  padding: 0.5rem;
}

.opp-desc {
  margin: 3%;
}

.accordion {
  &:hover {
    box-shadow: 10px 10px 10px 0px rgb(32, 64, 96);
  }
}
