// @import "foundation_and_overrides";
$accent-color: #ff851b;
$background-color: #496d7b;
$blue: #496d7b;

.vol-panel, .opportunity-info {
  background-color: $background-color;
  border: 5px solid $accent-color;
  color: white;
  margin: 2%;
  padding: 2%;
  text-align: center;
  &:hover {
    box-shadow: 10px 10px 10px 0px rgb(32, 64, 96);
  }
}

.opp-div {
  border: 1px solid $accent-color;
  margin: 2%;
  &:hover {
    box-shadow: 10px 10px 10px 0px rgb(32, 64, 96);
  }
}

header {
  margin: 5%;
}

h1, h2 {
  color: white;
  text-align: center;
}

.join-button {
  background-color: $accent-color;
  color: white;
  &:hover {
    background-color: $accent-color;
    color: white;
    box-shadow: 10px 10px 10px 0px rgb(32, 64, 96);
  }
}

.at-capacity {
  background-color: $accent-color;
  color: white;
  text-align: center;
  margin-bottom: 5%;
  &:hover {
    background-color: $accent-color;
    color: white;
  }
}

#org-name {
  a {
    color: white;
  }
  a:hover {
    color: $accent-color;
  }
}

.index-info {
  color: white;
  a {
    border: 1px solid $accent-color;
    color: $accent-color;
    padding: 2px;
  }
  a:hover {
    color: white;
  }
}

.map-frame {
  margin: 2%;
}

.vol-img {
  height: 194px;
  width: 208px;
}

.label {
  display: block;
  text-align: center;
  padding: 0.5rem;
}

.opp-desc {
  margin: 3%;
}

.accordion {
  &:hover {
    box-shadow: 10px 10px 10px 0px rgb(32, 64, 96);
  }
}

.blue {
  color: $blue;
}
