.org-info {
  text-align: center;
  border: 2px solid #FF851B;
  margin-top: 5%;
}

.button-row {
  margin: 5%;
}

.opp-info {
  margin-top: 5%;
  text-align: center;
  border: 2px solid #FF851B;
}

.org-button {
  background-color: #FF851B;
  color: white;
}

.opp-button {
  background-color: #FF851B;
  color: white;
}

.opp-link {
   list-style: none;
  //  margin: 0;
  //  padding: 0;
}
