.org-info {
  text-align: center;
  border: 1px solid #FF851B;
  margin-top: 5%;
}

.button-row {
  margin: 5%;
}

.opp-info {
  text-align: center;
  border: 1px solid #FF851B;
}

.org-button {
  background-color: #FF851B;
  color: white;
}
