h3 {
  color: white;
  text-align: center;
  margin-top: 15%;
}

a {
  color: white;
}

a:hover {
  color: #FF851B;
}

.joined-opp {
  border: 1px solid #FF851B;
  padding: 5px;
}

.user-info {
  text-align: center;
  &:hover {
    box-shadow: 10px 10px 10px 0px rgb(32, 64, 96);
  }
}

.joined-opp, .user-info, .orgs-list {
  margin-top: 10%;
  padding: 1%;
  border: 1px solid #FF851B;
  &:hover {
    box-shadow: 10px 10px 10px 0px rgb(32, 64, 96);
  }
}

.orgs-list p {
  text-align: center;
  margin: 2%;
}

.edit-info {
  margin-top: 5%;
  background-color: #FF851B;
  color: white;
  &:hover {
    background-color: #FF851B;
    color: white;
    box-shadow: 10px 10px 10px 0px rgb(32, 64, 96);
  }
}

.my-opportunities {
  text-align: center;
}

.profile-page-img {
  padding: 3%;
}
